.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 60px;
    align-items: center;
}

.logo {
    display: flex;
    height: 100%;
}

.cart {
    display: inline;
}

.cart div {
    margin: 0;
    padding: 0;
}

div.totalItems {
    color: #333;
    text-align: center;
    background-color: darkorange;
    font-weight: 500;
    border-radius: 5px;
}

div.title-cart {
    color: #333;
    font-size: 0.9rem;
    line-height: 16px;
}

.secundary-navbar {
    background-color: #002152;
    padding: 8px 0px 8px 50px;
    overflow: hidden;
}

.secundary-navbar .category {
    margin-right: 30px;
    color: white;
}